@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label {
  font-size: 0.8125rem;
  font-weight: 700;
  color: #5e7a7d;
}

input {
  height: 2.75rem;
  width: 19.4375rem;
  display: block;
  border: 0.125rem solid transparent;
  background: #f4f8fb;
  border-radius: 0.5rem;
  text-align: end;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #00494d;
  outline: none;
}

body {
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
  height: 100vh;
  color: #00494d;
  font-size: 1.125rem;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .title {
  text-transform: uppercase;
  letter-spacing: 0.9375rem;
  font-weight: 700;
  display: block;
  word-wrap: break-word;
  min-width: 6.25rem;
  width: 6.875rem;
  text-align: center;
  margin: 2rem;
}
main .container {
  background: white;
  min-width: 100px;
  width: 100%;
  max-width: 375px;
  border-radius: 1.5625rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5625rem;
  flex-direction: column;
}
main .container__percent, main .container__people {
  margin: 2.375rem 0;
}
main .container #bill__input {
  position: relative;
}
main .container #bill__input::after {
  content: "$";
  display: flex;
  width: 1.25rem;
  align-items: center;
  justify-content: end;
  height: 2.75rem;
  position: absolute;
  top: 100%;
  color: #5e7a7d;
  font-size: 1.25rem;
}
main .container .percent__values {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}
main .container .percent__values p {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #00494d;
  width: 45%;
  height: 3rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  font-weight: 700;
}
main .container .percent__values p.chosen {
  background: #26c0ab;
  color: #00494d;
}
main .container .percent__values p.custom {
  background: #f4f8fb;
  color: #00494d;
}
main .container__people {
  position: relative;
}
main .container__people .testo {
  display: flex;
  justify-content: space-between;
}
main .container__people .warning {
  display: none;
  color: red;
  font-size: 0.875rem;
}
main .container__people .warning.appear {
  display: inline-block;
}
main .container__people #people__input.invalid {
  border: 2px solid red;
}
main .container__people ion-icon {
  position: absolute;
  top: 80%;
  left: 10px;
  transform: translateY(-100%);
  color: #5e7a7d;
}
main .container .calculator {
  width: 100%;
  background: #00494d;
  border-radius: 1rem;
  color: white;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
main .container .calculator__amount, main .container .calculator__person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .calculator__amount > p, main .container .calculator__person > p {
  color: #26c0ab;
  font-weight: 700;
  font-size: 1.5625rem;
}
main .container .calculator__amount .slash, main .container .calculator__person .slash {
  color: gray;
  font-size: 0.875rem;
}
main .container .calculator button {
  width: 100%;
  height: 2.8125rem;
  margin-top: 2.5rem;
  border: none;
  background: #26c0ab;
  color: #00494d;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 1440px) {
  main .container {
    max-width: 57.5rem;
    height: 30rem;
    flex-direction: row;
  }
  main .container .form {
    width: 45%;
  }
  main .container .form input {
    width: 100%;
  }
  main .container .form .container__percent .percent__values p {
    width: 32%;
  }
  main .container .calculator {
    width: 50%;
    justify-content: space-between;
  }
  main .container .calculator__amount {
    margin-bottom: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
