@use './utils/index' as vars;

body {
    background: vars.$light-grayish-cyan;
    font-family: 'Space Mono',
    monospace;
    height: 100vh;
    color: vars.$very-dark-cyan;
    font-size: vars.rem(18);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        text-transform: uppercase;
        letter-spacing: vars.rem(15);
        font-weight: 700;
        display: block;

        word-wrap: break-word;
        min-width: vars.rem(100);
        width: vars.rem(110);
        text-align: center;
        margin: vars.rem(32);
    }


    .container {
        background: vars.$white;
        min-width: 100px;
        
        width: 100%;
        max-width: 375px;
        
        
        border-radius: vars.rem(25);
        display: flex;
        justify-content: space-between;
        padding: vars.rem(25);
        flex-direction: column;

        &__percent, &__people {
            margin: vars.rem(38) 0;
        }

        #bill__input {
            position: relative;
            
            &::after {
                content: '$';
                display: flex;
                // background: red;
                width: vars.rem(20);
                align-items: center;
                justify-content: end;
                height: vars.rem(44);
                position: absolute;
                top: 100%;
                // right: 100%;
                color: vars.$dark-grayish-cyan;
                font-size: vars.rem(20);
            }
        }
        .percent__values {
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 100%;
            flex-wrap: wrap;

            p {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: vars.$white;
                background: vars.$very-dark-cyan;
                width: 45%;
                height: vars.rem(48);
                margin: vars.rem(8) 0;
                border-radius: vars.rem(8);
                font-weight: 700;

                &.chosen {
                    background: vars.$strong-cyan;
                    color: vars.$very-dark-cyan;
                }

                &.custom {
                    background: vars.$gray;
                    color: vars.$very-dark-cyan;
                }
            }
        }
        &__people {
            position: relative;
            .testo {
                display: flex;
                justify-content: space-between;
            }
            .warning {
                display: none;
                color: red;
                font-size: vars.rem(14);

                &.appear {
                    display: inline-block;
                }
            }

            #people__input.invalid {
                border: 2px solid red;
            }

            ion-icon {
                position: absolute;
                top: 80%;
                left: 10px;
                transform: translateY(-100%);
                color: vars.$dark-grayish-cyan;
            }
        }

        .calculator {
            width: 100%;
            background: vars.$very-dark-cyan;
            border-radius: vars.rem(16);
            color: white;
            padding: vars.rem(20);
            display: flex;
            flex-direction: column;

            &__amount, &__person {
                display: flex;
                align-items: center;
                justify-content: space-between;



                & > p {
                    color: vars.$strong-cyan;
                    font-weight: 700;
                    font-size: vars.rem(25);
                }

                .slash {
                    color: gray;
                    font-size: vars.rem(14);
                }
            }


            button {
                width: 100%;
                height: vars.rem(45);
                margin-top: vars.rem(40);
                border: none;
                background: vars.$strong-cyan;
                color: vars.$very-dark-cyan;
                font-weight: 700;
                border-radius: vars.rem(8);
                cursor: pointer;
            }
        }
    }
}

@media  (min-width: 1440px) {
    main {
        .container {
            max-width: vars.rem(920);
            height: vars.rem(480);
            flex-direction: row;

            .form {
                width: 45%;
                // background: red;
                input {
                    width: 100%;
                }

                .container__percent {
                    .percent__values p {
                        width: 32%;
                    }
                }
            }

            .calculator {
                width: 50%;
                justify-content: space-between;

                &__amount {
                    margin-bottom: vars.rem(40);
                }
            }
        }
    }
}



