@forward './colors.scss';
@forward './functions.scss';

@use './functions.scss';
@use './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');


*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
label {
    font-size: functions.rem(13);
    font-weight: 700;
    color: colors.$dark-grayish-cyan;
}
input {
    height: functions.rem(44);
    width: functions.rem(311);
    display: block;
    border: functions.rem(2) solid transparent;
    background: colors.$gray;
    border-radius: functions.rem(8);
    text-align: end;
    padding: functions.rem(16);
    font-size: functions.rem(18);
    font-weight: 700;
    color: colors.$very-dark-cyan;
    outline: none;
}
