$strong-cyan: hsl(172, 67%, 45%); 
$very-dark-cyan: hsl(183, 100%, 15%); 
$dark-grayish-cyan: hsl(186, 14%, 43%); 
$light-grayish-cyan: rgb(197, 228, 231); 
$white: hsl(0, 0%, 100%);
$gray: hsl(202, 50%, 97%);